<% content_for :active_menu_item do %>
	features
<% end %>

<div class="feature">
	<div class="text">
		<h1>AppsLib, alle handige apps voor de Archos tablets bij elkaar.</h1>
		<p>De zeer grote en gevarieerde collectie bevat alle soorten apps die u maar kunt bedenken. Office, sociaal, spelletjes, widgets, u vindt het allemaal in AppsLib.</p>
	</div>
	<%= image_tag("appslib-example.jpg") %>
</div>

<div class="feature right">
	<div class="text">
		<h1>U verveel zich nooit meer.</h1>
		<p>Door de grote opslag ruimte en krachtige processor spelen de Archos tablets al uw films, series en muziek, ook in HD, zonder enige moeite af.</p>
	</div>
	<%= image_tag("multimedia-example.jpg") %>
</div>

<div class="feature">
	<div class="text">
		<h1>Verbonden met de wereld.</h1>
		<p>Uitgerust met een USB aansluiting, WiFi, Bluetooth en 3G (alleen internet tablet) bent u altijd verbonden met de rest van de wereld. De Home tablets zijn niet uitgerust met een 3G aansluiting, maar Tethering via uw telefoon biedt hiervoor de oplossing!</p>
	</div>
	<%= image_tag("connection-example.jpg") %>
</div>

<div class="feature right">
	<div class="text">
		<h1>Games en spelletjes</h1>
		<p>Een spelletje spelen was nog nooit zo ontspannen. Uitgerust met een grafische co-prosessor zorgen de Archos tablets voor een sublieme spelervaring. Op de Internet tablets is zelfs 3D gaming en besturing via het kantelen van het scherm mogelijk.</p>
	</div>
	<%= image_tag("gaming-example.jpg") %>
</div>

<div class="feature">
	<div class="text">
		<h1>Android 2.2 aka Froyo, 2x tot 5x sneller.</h1>
		<p>Sneller dan ooit tevoren. Met Android 2.2 haalt u meer uit uw tablet. Films speelden nog nooit zo soepel af en internet pagina's zijn geladen voor u met uw ogen kunt knipperen. (Alleen de Internet tablets)</p>
	</div>
	<%= image_tag("android-froyo-example.jpg") %>
</div>